/* html, body {
    font-family: serif;
}
body {
    margin: 20px;
}
 */
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    background: #EBEDEE;
    
}
h1,h2,h3,h4{
    margin: 0;
}
select{
    margin-right: 20px;
    width: 25%;
    height: 23px;
    border-radius: 5px;
    border: 1px solid gold;
}
.name-city{
    font-size: 50px;
}

.block-weather{
    max-width: 800px; 
    min-height: 300px;
    margin: 0 auto;
    background:#009FFF;
    margin-top: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0, 0, 0.5);
}
.header-block{
    text-align: center;
}
.list-info-item{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.info-item{
    justify-content: space-between;
}

.search-city{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
}
.i-city{
    margin-left: 10px;
}